<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427478929904-cofjf2g4dus2lp040ru8s63mneo0p803.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427478929904-cofjf2g4dus2lp040ru8s63mneo0p803</string>
	<key>API_KEY</key>
	<string>AIzaSyC8lOVm-CCA3FIh7mTPBfT9DwQ1i1lRww4</string>
	<key>GCM_SENDER_ID</key>
	<string>427478929904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erayalparslan.RectiveTest</string>
	<key>PROJECT_ID</key>
	<string>reactiveswifttest</string>
	<key>STORAGE_BUCKET</key>
	<string>reactiveswifttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427478929904:ios:77c8a5dbd9b409e1</string>
	<key>DATABASE_URL</key>
	<string>https://reactiveswifttest.firebaseio.com</string>
</dict>
</plist>